* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bananas.png");
}

header {
    width: 100%;
    background-color: white;
}

#header_container {
    width: 100%;
    background-color: white;
}

#my_name {
    color: #fff;
    background-color: #4aaaa5;
    padding: 20px;
    display: inline-block;
}

#header_links {
    float: right;
    height: 21px;
    text-align: center;
    font-size: 21px;
    padding: 28px 0;
}

a {
    color: #4aaaa5;
    text-decoration: none;
}

#profile_picture {
    width: 200px;
    height: 200px;
    display: inline;
    float: left;
    padding-right: 20px;
}

header {
    width: 960px;
    margin: auto;
}

#main_section {
    width: 920px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    overflow: hidden;
}

#main_horizontal {
    margin: 10px auto;
}

h2 {
    color: #4aaaa5;
}

#main_section p {
    font-size: 30px;
}

.portfolio_image {
    width: 200px;
    height: 200px;
}