#my_name {
    color: #fff;
    background-color: #4aaaa5;
    padding: 20px;
    display: inline-block;
}

#header_links {
    float: right;
    color: #4aaaa5;
}

#profile_picture {
    width: 200px;
    height: 200px;
}

header {
    width: 960px;
    margin: auto;
}

#main_section {
    width: 960px;
    margin: auto;
}


h2 {
    color: #4aaaa5;
}

